<h1>プロフィール編集</h1>

<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :image, "プロフィール画像" %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>
