<h1>カラオケ</h1>
<h3>新しい曲の登録</h3>
<%= form_for @song do |f| %>

曲のジャンル：
<div class='form-group'>
 <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
 <div class='form-check'>
 <%= tag.label class: 'form-check-label' do %>
 <%= tag.check_box class: 'form-check-input' %>
 <%= tag.text %>
 <% end %>
 </div>
 <% end %>
</div>


曲の名前：
<div class="field">
<%= f.label :name %>
<%= f.text_field :name, :size => 30 %>
</div>


アーティスト名：
<div class="field">
<%= f.label :aritist %>
<%= f.text_field :aritist, :size => 30 %>
</div>


リリース年：
<div class="field">
<%= f.label :year  %>
<%= f.text_area :year, :size => 30 %>
</div>


作詞者：
<div class="field">
<%= f.label :about %>
<%= f.text_field :about, :size => 30 %>
</div>


作曲者：
<div class="field">
<%= f.label :composer %>
<%= f.text_field :composer, :size => 30 %>
</div>


この曲はどんな曲？：
<div class="field">
<%= f.label :song_type  %>
<%= f.select :song_type,
[["今度歌いたい🎤", "今度歌いたい🎤"],
 ["盛り上がった👆", "盛り上がった👆"],
 ["場が冷めた👎", "場が冷めた👎"],
 ["分からなかった🥲", "分からなかった🥲"]],
 include_blank: "選択して下さい" %>
</div>


年齢：
<div class="field">
<%= f.label :age %>
<%= f.select :age,
[["10歳未満", "10歳未満"],
 ["10代", "10代"],
 ["20代", "20代"],
 ["30代", "30代"],
 ["40代", "40代"],
 ["50代", "50代"],
 ["60代", "60代"],
 ["70代", "70代"],
 ["80代", "80代"],
 ["90代以上", "90代以上"]],
 include_blank: "選択して下さい" %>
</div>


<div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
</div>


<% if @song.errors.any? %>
  <div id="error_explanation">
    <h2><%= @song.errors.count %>件のエラーが発生したため、この曲は保存できませんでした：</h2>
    <ul>
    <% @song.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
    <%= f.label :youtube_url %>
    <%= f.text_field :youtube_url, size: 140 %>
  </div>


<%= f.submit "投稿する" %>
<% end %>


<%= link_to "トップページに戻る", songs_path %>

